
/run/verbose 0
/event/verbose 0
/tracking/verbose 0
/process/em/verbose 0

/Geometry/Next100/elfield false
/Geometry/Next100/max_step_size .05 mm
/Geometry/Next100/pressure 3.8 bar
/Geometry/Next100/gas GAr
/Geometry/PmtR11410/time_binning 25. nanosecond
/Geometry/Next100/sipm_time_binning  1. microsecond
/Geometry/Next100/drift_v   1.480 mm/microsecond
/Geometry/Next100/EL_drift_v 6.249 mm/microsecond
/Geometry/Next100/drift_transv_diff 1.87 mm/sqrt(cm)
/Geometry/Next100/drift_long_diff 0.65 mm/sqrt(cm)
/Geometry/Next100/ELtransv_diff 0.46 mm/sqrt(cm)
/Geometry/Next100/ELlong_diff 0.30 mm/sqrt(cm)
/Geometry/Next100/e_lifetime 50   ms

/Generator/Kr83mGenerator/region CENTER

/Actions/DefaultEventAction/min_energy 1 keV
/Actions/DefaultEventAction/max_energy 1 MeV

/PhysicsList/Nexus/clustering          false
/PhysicsList/Nexus/drift               false
/PhysicsList/Nexus/electroluminescence false

/nexus/random_seed             12343244
/nexus/persistency/output_file kr_GAr_3.8bar.h5
/nexus/persistency/start_id    340000
/nexus/persistency/event_type background
